<?xml version="1.0"?>
<robot name="example_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="props" value="${load_yaml('../urdf2.yaml')}"/>
    <xacro:property name="l_width" value="0.02"/>
    
    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <material name="white"> 
        <color rgba="1 1 1 1"/>
    </material>

    <material name="black"> 
        <color rgba="0 0 0 1"/>
    </material>

    <link name="base_link">
        <visual>
            <geometry>
                <cylinder length="0.04" radius="0.05"/>
            </geometry>
            <origin xyz="0 0 -0.02"/>
            <material name="white"/>
        </visual>
    </link>

    <link name="link_1">
        <visual>
            <geometry>
                <box size=" ${l_width}  ${l_width} ${props['i1']['l_len']}"/>
            </geometry>
            <origin xyz="${props['i1']['l_xyz']}" rpy="${props['i1']['l_rpy']}"/>
            <material name="red"/>
        </visual>
    </link>

    <link name="link_2">
        <visual>
            <geometry>
                <box size=" ${l_width}  ${l_width} ${props['i2']['l_len']}"/>
            </geometry>
            <origin xyz="${props['i2']['l_xyz']}" rpy="${props['i2']['l_rpy']}"/>
            <material name="red"/>
        </visual>
    </link>

    <link name="link_3">
        <visual>
            <geometry>
                <mesh filename="package://lab2/FuturamaRifle.stl" scale="0.001 0.001 0.002"/>
            </geometry>
            <origin xyz="0 0 0" rpy="-1.57075 0 3.14159"/>
            <material name="black"/>
        </visual>
	<visual>
            <geometry>
                <box size="${l_width} ${l_width} ${props['i3']['l_len']}"/>
            </geometry>
            <origin xyz="${props['i3']['l_xyz']}" rpy="${props['i3']['l_rpy']}"/>
            <material name="black"/>
        </visual>
    </link>

    <joint name="base_to_link1" type="fixed">
        <parent link="base_link"/>
        <child link="link_1"/>
        <origin xyz="${props['i1']['j_xyz']}" rpy="${props['i1']['j_rpy']}"/>
    </joint>

    <joint name="link1_to_link2" type="fixed">
        <parent link="link_1"/>
        <child link="link_2"/>
        <origin xyz="${props['i2']['j_xyz']}" rpy="${props['i2']['j_rpy']}"/>
    </joint>

    <joint name="link2_to_link3" type="fixed">
        <parent link="link_2"/>
        <child link="link_3"/>
        <origin xyz="${props['i3']['j_xyz']}" rpy="${props['i3']['j_rpy']}"/>
    </joint>
</robot>
