<?xml version="1.0"?>
<robot name="example_robot">
	<link name="base_link">
		<visual>
<origin xyz="0 0 0" rpy="0 0 0"/>
			<material name="blue">
				<color rgba="0 0 .8 1"/>
			</material>

			<geometry>
				
				<cylinder length="0.0" radius="0.0"/>
			</geometry>

		</visual>
	</link>
	<link name="link0_x_axis">
		<visual>
<origin xyz="0 0 0" rpy="0 0 0"/>
			<material name="red">
				<color rgba="1 0 0 1"/>
			</material>

			<geometry>
				
				<cylinder length="0.0" radius="0.0"/>
			</geometry>

		</visual>
	</link>
	<joint name="q0_x" type="fixed">
		<origin xyz="0 0 0" rpy="0 1.571 0"/>
		<parent link="base_link"/>
		<child link="link0_x_axis"/>
	</joint>
	<link name="link1_x_axis">
		<visual>
			<origin xyz="0 0 0.25" rpy="0 0 0"/>
			<material name="red"/>
			<geometry>
				<cylinder length="0.5" radius="0.05"/>
			</geometry>
		</visual>
	</link>

	<joint name="q1_passive" type="fixed">
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<parent link="base_link"/>
		<child link="link1_passive"/>
	</joint>
	<link name="link1_passive">
		<visual>
			<origin xyz="0 0 0.25" rpy="0 0 0"/>
			<material name="blue"/>
			<geometry>
				<cylinder length="0.5" radius="0.05"/>
			</geometry>
		</visual>
	</link>
	<joint name="q1_x" type="fixed">
		<origin xyz="0 0 0" rpy="0 1.571 0"/>
		<parent link="link1_passive"/>
		<child link="link1_x_axis"/>
	</joint>
	<link name="link2_x_axis">
		<visual>
			<origin xyz="0 0 0.25" rpy="0 0 0"/>
			<material name="red"/>
			<geometry>
				<cylinder length="0.5" radius="0.05"/>
			</geometry>
		</visual>
	</link>
	<joint name="q2_passive" type="fixed">
		<origin xyz="0 0 5.11" rpy="0 0 0"/>
		<parent link="link1_passive"/>
		<child link="link2_passive"/>
	</joint>
	<link name="link2_passive">
		<visual>
			<origin xyz="0 0 0.25" rpy="0 0 0"/>
			<material name="blue"/>
			<geometry>
				<cylinder length="0.5" radius="0.05"/>
			</geometry>
		</visual>
	</link>
	<joint name="q2_x" type="fixed">
		<origin xyz="0 0 0" rpy="0 1.571 0"/>
		<parent link="link2_passive"/>
		<child link="link2_x_axis"/>
	</joint>
	<link name="link3_x_axis">
		<visual>
			<origin xyz="0 0 0.25" rpy="0 0 0"/>
			<material name="red"/>
			<geometry>
				<cylinder length="0.5" radius="0.05"/>
			</geometry>
		</visual>
	</link>
	<joint name="q3_passive" type="fixed">
		<origin xyz="0 0 5.11" rpy="1.5707963267948966 0 1.5707963267948966"/>
		<parent link="link2_passive"/>
		<child link="link3_passive"/>
	</joint>
	<link name="link3_passive">
		<visual>
			<origin xyz="0 0 0.25" rpy="0 0 0"/>
			<material name="blue"/>
			<geometry>
				<cylinder length="0.5" radius="0.05"/>
			</geometry>
		</visual>
	</link>
	<joint name="q3_x" type="fixed">
		<origin xyz="0 0 0" rpy="0 1.571 0"/>
		<parent link="link3_passive"/>
		<child link="link3_x_axis"/>
	</joint>
	<link name="link4_x_axis">
		<visual>
			<origin xyz="0 0 0.25" rpy="0 0 0"/>
			<material name="red"/>
			<geometry>
				<cylinder length="0.5" radius="0.05"/>
			</geometry>
		</visual>
	</link>
	<joint name="q4_passive" type="fixed">
		<origin xyz="0 0 5.11" rpy="1.5707963267948966 0 1.5707963267948966"/>
		<parent link="link3_passive"/>
		<child link="link4_passive"/>
	</joint>
	<link name="link4_passive">
		<visual>
			<origin xyz="0 0 0.25" rpy="0 0 0"/>
			<material name="blue"/>
			<geometry>
				<cylinder length="0.5" radius="0.05"/>
			</geometry>
		</visual>
	</link>
	<joint name="q4_x" type="fixed">
		<origin xyz="0 0 0" rpy="0 1.571 0"/>
		<parent link="link4_passive"/>
		<child link="link4_x_axis"/>
	</joint>
</robot>