<?xml version="1.0"?>
<robot name="example_robot">
    
    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <material name="white"> 
        <color rgba="1 1 1 1"/>
    </material>

    <material name="black"> 
        <color rgba="0 0 0 1"/>
    </material>

    <link name="base_link">
        <visual>
            <geometry>
                <cylinder length="0.04" radius="0.05"/>
            </geometry>
            <origin xyz="0 0 0"/>
            <material name="white"/>
        </visual>
    </link>

    <link name="link_1">
        <visual>
            <geometry>
                <box size="0.02 0.02 1"/>
            </geometry>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <material name="white"/>
        </visual>
    </link>

    <link name="link_2">
        <visual>
            <geometry>
                <box size="0.02 0.02 1"/>
            </geometry>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <material name="red"/>
        </visual>
    </link>

    <link name="link_3">
        <visual>
            <geometry>
                <mesh filename="package://lab2/FuturamaRifle.stl" scale="0.001 0.001 0.002"/>
            </geometry>
            <origin xyz="0 0 0" rpy="-1.57075 0 3.14159"/>
            <material name="black"/>
        </visual>
	<visual>
            <geometry>
                <box size="0.02 0.02 1"/>
            </geometry>
            <origin xyz="0 0 -0.5" rpy="0 0 0"/>
            <material name="black"/>
        </visual>
    </link>

    <joint name="base_to_link1" type="prismatic">
        <parent link="base_link"/>
        <child link="link_1"/>
        <origin xyz="0 0 1" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit effort="1000.0" lower="-1" upper="0" velocity="0.5"/>
    </joint>

    <joint name="link1_to_link2" type="prismatic">
        <parent link="link_1"/>
        <child link="link_2"/>
        <origin rpy="1.57075 -1.57075 0" xyz="0 -1 0"/>
        <axis xyz="0 0 1"/>
        <limit effort="1000.0" lower="-1" upper="0" velocity="0.5"/>
    </joint>

    <joint name="link2_to_link3" type="prismatic">
        <parent link="link_2"/>
        <child link="link_3"/>
        <origin rpy="1.57075 -1.57075 0" xyz="0 -1 0"/>
        <axis xyz="0 0 1"/>
        <limit effort="1000.0" lower="-1" upper="0" velocity="0.5"/>
    </joint>
</robot>
