<launch>

  <arg name="model" default="$(find lab4)/urdf/dynamic.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find lab4)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="server" pkg="lab4" type="server.py" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>

